<h3><%= link_to 'Houses Index', '/houses' %>   <%= link_to 'Agents Index' , '/agents' %></h3>

<h1>Houses</h1>

<% @houses.each do |house| %>
  <p><h3>Address: <%= link_to "#{house.address}", "/houses/#{house.id}" %></h3></p>
  <p>Price: $<%= house.price %></p>
  <p>On the Market?: <%= house.for_sale %></p>
  <p><small>created: <%= house.created_at %>, updated: <%= house.updated_at %></small></p>
<% end %>
