<h3><%= link_to 'Houses Index', '/houses' %>   <%= link_to 'Agents Index' , '/agents' %></h3>

<h1><%= @houses.address %></h1>
<p>Price: <%= @houses.price %></p>
<p>On the market?: <%= @houses.for_sale %></p>
<p>Listed by: <%= @houses.agent.name %></p>
<p><small>created: <%= @houses.created_at %>, updated: <%= @houses.updated_at %></small></p>
