<h1>Houses listed by <%= @agent.name %>:</h1>
<% @houses.each do |house| %>
  <p><h3><%= house.address %></h3></p>
  <p>Price: $<%= house.price %></p>
  <p>On the Market?: <%= house.for_sale %></p>
  <p><small>created: <%= house.created_at %>, updated: <%= house.updated_at %></small></p>
<% end %>
