<h3><%= link_to 'Houses Index', '/houses' %>   <%= link_to 'Agents Index' , '/agents' %></h3>

<h1>Real Estate Agents</h1>

<% @agents.each do |agent| %>
  <p><h3><%= link_to "#{agent.name}", "/agents/#{agent.id}" %></h3></p>
  <p><small><%= link_to 'Edit Agent', "/agents/#{agent.id}/edit" %></small></p>
  <p><small>  <%= link_to 'Delete Agent', "/agents/#{agent.id}", method: :delete %></small></p>
  <p><small> created: <%= agent.created_at %></small></p>
<% end %>

<p><%= link_to 'New Agent', '/agents/new' %></p>
