<h1><%= @agent.name %></h1>
<p>Rating: <%= @agent.review_rating %></p>
<p>Licensed Realtor?: <%= @agent.licensed_realtor %></p>
<p><small>created: <%= @agent.created_at %>, updated: <%= @agent.updated_at %></small></p>
